* {
    border-radius: 0 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #fffbff;
    color: #030303;
}

/** MENU DE NAVEGAÇÃO **/
/* navbar */
.navbar-default {
    background-color: #037e8c;
    border-color: #024959;
    border-bottom: 3px solid;
}

/* title */
.navbar-default .navbar-brand {
    padding-left: 20px;
    padding-right: 60px;
    color: #F2EFDC;
    transition: all .5s;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #F24C27;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #F2EFDC;
    border-bottom: 1px solid #037e8c;
    transition: border-bottom .5s;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #F2EFDC;
    border-bottom: 1px solid #F2EFDC;
}
/** FIM DO MENU DE NAVEGAÇÃO **/

.dados-conexao {
    margin-top: 50px;
}

.glyphicon.glyphicon-link {
    font-size: 10px;
}

.opcional-header {
    cursor: pointer;
}

.oculto {
    display: none;
}

h3 .glyphicon {
    font-size: 18px;
    color: #F24C27;
}

.bg-danger {
    background-color: #F24C27 !important;
    padding: 20px;
    color: #F2EFDC;
}

a:hover {
    text-decoration: none !important;
}

.fonte-vinho {
    color: #F24C27 !important;
}

.fonte-verde {
    color: #024959 !important;
}

.fonte-verde-claro {
    color: #037e8c !important;
}

.clearfix {
    clear: both;
}

/** FOOTER **/
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -220px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 220px;
    margin-top: 50px;
}

.site-footer {
    text-align: center;
    background-color: #404040;
    color: #F2EFDC;
}

.footer-content {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}